.titleText {
    fill: darkblue;
}

.deadlineText {
    color: darkblue;
}

.timespanText {
    color: darkblue;
}

body {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.task {
    background-color: bisque;
}